# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment & Credentials
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.DS_Store
.vscode/
.idea/
